body {
    background-color: #000;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    margin: auto;
    max-width: 800px;
}

.title {
    color: #00FFFF;
    text-align: center;
    margin: 40px 0;
    font-family: 'Amatic SC', cursive;
    font-size: 4em;
}

.subtitle {
    font-size: 3em;
}

.navigation {
    display: inline-block;
    width: 100%;
}

.navigation ul {
    padding: 0;
    text-align: center;
}

.navigation li {
    display: inline-block;
    list-style-type: none;
    width: 120px;
}

.navigation a {
    color: #fff;
    text-decoration: none;
}

.title-information {
    font-weight: normal;
    font-size: 1.5em;
    text-align: center;
    color: #AFEEEE;
}

p {
    line-height: 25px;
    text-align: center;
}

.table {
    margin: 50px auto;
}

caption {
    margin: 20px auto;
    color: #AFEEEE;
}

th {
    color: #AFEEEE;
}

td {
    width: 102px;
    text-align: center;
    padding: 5px;
}