.ordered-list {
    background-color: yellow;
}

.even-item {
    color: green;
}

.odd-item {
    text-transform: uppercase;
}

.header {
    color: red;
}

h1.italic {
    font-size: 40px;
    border: 1px solid black;
}

.list-item {
    font-size: 20px;
}

em.italic {
    font-weight: bold;
}

.first-three {
    color: blue;
}

.java {
    background-color: pink;
}

.orange:hover {
    font-weight: bold;
    color: orange;
}

.green:hover {
    font-weight: bold;
    color: green;
}

.black:hover {
    font-weight: bold;
    color: black;
}

.yellow:hover {
    font-weight: bold;
    color: yellow;
}