h1, p {
  text-align: center;
}

#google:hover {
  background-color: darkolivegreen;
}

#youtube:hover {
  background-color: darkred;
}

#g1:hover {
  background-color: darkturquoise;
}

#google:active, #youtube:active, #g1:active {
  color: white;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li {
  list-style: none;
}
