.super-mario {
    width: 200px;
    position: absolute;
    z-index: 2;
    left: 200px;
    top: 170px;
}

.goomba {
    width: 100px;
    position: absolute;
    z-index: 1;
    left: 350px;
    top: 350px;
}

.baloon {
    width: 250px;
    position: absolute;
    left: 750px;
    top: 30px;
}

.speach {
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    position: absolute;
    left: 830px;
    top: 70px;
}

.bowser {
    width: 200px;
    position: absolute;
    left: 588px;
    top: 100px;
}
