* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(238, 238, 238);
}

header {
  text-align: center;
  width: 80%;
  margin: 15px auto;
  line-height: 40px;
}

.general-data {
  width: 80%;
  margin: auto;
  line-height: 25px;
}

fieldset {
  border: 1px solid rgb(236, 236, 236);
  border-radius: 8px;
  background-color: #fff;
  padding: 30px;
  font-size: 18px;
  margin: 10px auto;
}

h2 {
  font-size: 18px;
  margin: 10px auto;
  font-weight: 600;
  text-align: center;
}

.line-content input[type='text']{
  width: 100%;
  border-radius: 6px;
  border: 1px solid rgb(165, 165, 141);
  padding: 10px;
  margin: 10px 0;
  font-size: 15px;
}

#state {
  font-size: 14px;
  padding: 5px;
  margin: 7px 15px;
}

.line-content input[type='radio'] {
  margin: 20px 20px 0;
}

#abstract {
  width: 100%;
  padding: 7px;
  font-size: 15px;
}

#button-container {
  text-align: center;
}

.buttons {
  padding: 8px 30px;
  margin-top: 25px;
  font-size: 18px;
  cursor: pointer;
}
